.border-error {
  border: 1px solid red !important;
}
.login-inputs {
  .input-title {
    margin-block-end: 10px;
    font-size: 18px;
    font-weight: 400;
  }
}
.css-c4l8ux-JoyInput-root:not([data-skip-inverted-colors]){
    margin-block-end: 0px !important;

}