.all-carousels-box {
  margin-block: 200px;
  width: 100%;
  max-width: 100%;
  padding-inline: 100px;

  .carousel-imgs {
    display: flex;
    margin-block: -130px;
    .image-container {
      position: relative;
      width: 350px;
      margin: 50px;
      .carousel-home-img {
        width: 100%;
        z-index: -1;
      }
    }
    .carousel-titles,
    .carousel-titles2 {
      position: relative;
      padding: 50px;
      justify-content: center;
      display: flex;
      flex-direction: column;
      box-shadow: 1px 1px 10px 5px lightgray;
      height: 400px;
      width: 70%;
      top: 120px;
      background-color: white;
    }

    .carousel-titles {
      right: 100px;
      z-index: 1;
    }

    .carousel-titles2 {
      left: 100px;
      z-index: 1;
    }
  }
}

//hexagon shape with small hexagons imgs

.hexagons-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  .hexagon-container-box {
    position: relative;
    width: 300px; /* Adjust the size of the container as needed */
    height: 300px; /* Adjust the size of the container as needed */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    flex-direction: row;
    margin-top: -10px;
   

    .hexagon-image {
      position: absolute;
      width: 100%; /* Adjust the size of the image as needed */
      height: 100%; /* Adjust the size of the image as needed */
      object-fit: cover;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
     
    }
  }
  & :hover{
    transform: scale(1.1);
  }
}
.hexagons-box2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-top: -40px;
  .hexagon-container-box {
    position: relative;
    width: 300px; /* Adjust the size of the container as needed */
    height: 300px; /* Adjust the size of the container as needed */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    flex-direction: row;
    margin-top: -20px;

    .hexagon-image {
      position: absolute;
      width: 100%; /* Adjust the size of the image as needed */
      height: 100%; /* Adjust the size of the image as needed */
      object-fit: cover;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }
  }
  & :hover{
    transform: scale(1.1);
  }
}
