.div-blob-signup {
  width: 510px;
  position: absolute;
  z-index: -2222222;
  right: 150px;
  top: 290px;
}
.outline-blob-signup{
    width: 510px;
    position: absolute;
    z-index: -2222222;
    right: 150px;
    top: 290px;
}