
.footer-icons-box {
  background-color: #081635;
  width: 100%;
  margin-top: auto; /* Push the footer to the bottom */
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  .icon-styling {
    background-color: white;
    border-radius: 0px;
    border: 1px solid #f2b827;
    &:hover {
      background-color: #f2b827;
    }
  }
  .social-icon:hover {
    color: white !important;
  }
  .footer-copyright {
    background-color: #040d22;
    color: white;
    .link-copyright {
      color: white !important;
    }
  }
}
